.model {
    height: 100%;
    width:100%;
    background-image: url("https://wallpaperaccess.com/full/1140482.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    min-width: 300px;
}
.model {

}
