.heading_containers {
    margin-top:9vh;
    display: flex;
    justify-content: center;
    padding: 1.5vw;
    /*padding-right: 13.1vw;*/
    width:100%;
}

#Events_first_container {
    background-color: white !important;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#Main_Item_Container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main_card_container {
    width: 30vw;
    height: 25vw;
    overflow: hidden;
    border-radius: 1vw;
    box-shadow: 0px 0px 3.2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2vw;
}

.main_card_container:hover .card_detail_container_2 {
    background-color: rgba(255, 255, 255, 0.514);
    opacity: 1;
}
.main_card_container:hover .reponsive_image {
    opacity: 0;
}
.image_card_container{
    width: 100%;
}
.reponsive_image {
    border-radius: 1vw 1vw 0vw 0vw !important;
    width: 100%;
    width: 100%;
    height: auto;
    border-radius: 2vw;
    transition: opacity .2s
}

.card_detail_container {
    padding: 2vw;
    display: flex;
    width: inherit;
    flex-direction: column;
    align-items: center;
}

.card_detail_para {
    overflow: hidden;
    padding: 2.2vw;
    font-size: 1.6vw;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
}

.card_heading {
    font-size: 2vw;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
}

.card_detail_container_2 {
    position: relative;
    bottom: 26vw;
    max-height: 20vw;
    overflow: scroll;
    opacity: 0;
    transition: opacity .2s, display .2s
}

.card_detail_container_2::-webkit-scrollbar {
    display: none;
}

#Heading {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 4vw;
    text-align:center;

}

#Heading_para {
    font-size: 1.8vw;
    margin: 5px 5%;
}

@media only screen and (max-width: 1024px) {
     #Heading{
        font-size: 6.4vw !important;
    }
    #Heading_para{
        font-size: 2.8vw;
    }
    .main_card_container{
        width: 35vw;
        height: 28vw;
    }
    .heading_containers{
        margin-top: 5vh;
    }
    .card_heading{
        font-size: 2.8vw;
    }
    .card_detail_container_2{
        bottom: 30vw;
    }
    .card_detail_para{
        font-size: 2vw;
    }
    
}
@media only screen and (max-width: 550px) {
    #Heading{
        font-size: 7.7vw !important;
    }
    #Heading_para{
        font-size: 2.5vw;
    }
    .main_card_container{
        width: 40vw;
        height: 35vw;
    }
}
@media only screen and (max-width: 430px) {
    #Heading_para{
        font-size: 3.7vw;
    }
    .main_card_container{
        width: 57vw;
        height: 44vw;
    }
    .card_heading{
        font-size: 3.7vw;
    }
    .card_detail_container_2{
        bottom: 37vw;
    }
    .card_detail_para{
        font-size: 2.7vw;
    }
}