#MAIN_CONTAINER{
    background-color: white;
    color: black;
}
.heading_containers{
    display: flex;
    padding: 3vw;
    padding-right: 19vw;
}
#Events_first_container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#Main_Item_Container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;    
}
.card-body{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.card, .card-body{
    width: 29vw !important;
}
.card-title{
    font-size: 2vw !important;
}
.btn-primary, .card-text{
    width: 20vw !important;
    font-size: 1.4vw !important;
}